* {
	background-color: #36393f;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.containerTime {
	font-family: "Gill Sans", arial;
	position: relative;
	top: 50vh;
	transform: translate(0%, -50%);
	display: flex;
	flex-direction: row;
	justify-content: center;
}

circle {
	stroke: lightgrey;
	stroke-dasharray: 100;
	fill: transparent;
}

circle:nth-child(1) {
	stroke-width: 10;
}

circle:nth-child(2) {
	stroke-width: 30;
	stroke-linecap: round;
}

@media (max-width: 1200px) {
	.containerTime {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	svg {
		height: 50px;
	}
}

@media (min-width: 2300px) {
	.containerTime {
		flex-direction: row;
	}
	circle {
		display: none;
	}
}


text {
	font-family: monospace;
	font-weight: bold;
	color: white;
	font-size: 3.5vw;
}