* {
	background-color: #36393f;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.containerTime {
	font-family: "Gill Sans", arial;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.containerDate {
	font-family: "Gill Sans", monospace, arial;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

p {
	padding: 0px;
	font-size: 5vw;
	font-weight: bold;
	color: white;
	background: transparent;
}
  
svg {
    width: 200px;
    height: 200px;    
    transform: rotate(-90deg);
    overflow: visible;
} 
  
circle {
    stroke-width: 20px;
    fill: none;
}

circle:nth-child(1) {
	stroke: rgb(255, 255, 255)
}

circle:nth-child(2) {
    stroke: rgb(255, 0, 0); 
    position: relative;
}

.circle_box:nth-child(1) circle:nth-child(2) {
    stroke-dashoffset: calc(100 * 6);
    stroke-dasharray: calc(100 * 6);
    stroke-dashoffset: calc((100 * 6) - ((100 * 6) * 50) / 100); 
}

.circle_box {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(80%, -60%);
	z-index: -1;
}
